{% include _utils/common %}
{% if page_data.projects %}     {% assign projects = page_data.projects %}
{% else %}                      {% assign projects = site.data.default.projects %}
{% endif %}


<section id="projects" class="container">

{% for project in projects %}
    {% if project.class == 'M' %}
        {% assign panel_class = 'primary' %}
    {% else %}
        {% assign panel_class = 'info' %}
    {% endif %}
    <div class="panel panel-{{ panel_class }}">
        <div class="panel-heading">
            <h3 class="panel-title">{{ project.title }} <small>Clasă de dificultate: {{ project.class }}</small></h3>
        </div>
        <div class="panel-body">
            <p>{{ project.description | markdownify }}</p>
        </div>
        <div class="panel-footer">
            <p class="text-right">Număr maxim de membri: {{ project.members }}</p>
        </div>
    </div>
{% endfor %}

</section>
