<!-- Blog Section Start -->
<section id="page" class="container content-section text-center">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1 text-center">
        <h3>Resurse</h3>
        <h4>Secțiuni disponibile:
        {% for category in site.categories %}
          <a href="{{ site.baseurl }}/resurse/{{ category[0] }}">{{ category[0] }}</a>{% unless forloop.last %}, {% endunless %}
        {% endfor %}
        </h4>
    </div>
    <div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">
    {% if paginator.total_posts > 0 %}
      <div id="post-list">
        {% for post in paginator.posts %}
          {% include post-list.html%}
        {% endfor %}
      </div>
      {% include pagination.html %}
    {% else %}
      <h4><a href="">Nici un articol disponibil.</a></h4>
    {% endif %}
    </div>
  </div>
</section>
<!-- Blog Section End -->
