{% assign contact = include.data %}

<section id="contact" class="contact container content-section">
  {% if contact.title %}
  <div id="contact-content" class="row">
    <div class="col-md-10 col-md-offset-1">
      <h3>{{ contact.title }}</h3>
      <p>{{ contact.content }}</p>
    </div>
  </div>
  {% endif %}

  <div id="contact-blocks" class="row row-centered">
      {% for block in contact.blocks %}
      {% assign column_width = 12 | divided_by: forloop.length %}
      <div class="col-md-{{ column_width }} col-sm-{{ column_width }} col-xs-6 col-centered">
        <ul>
          <li>{{ block.title }}</li>
          {% for link_element in block.links %}
          <li><a href="{% if link_element.permlink != null %} {{ link_element.permlink }} {% else %} {{ link_element.link | prepend: site.baseurl }} {% endif %}" {% if link_element.permlink != null %}target="_blank"{% endif %}>{{ link_element.text }}</a></li>
          {% endfor %}
        </ul>
      </div>
      {% endfor %}
  </div>

</section>
