{% if site.data[page.data].contact %}
  {% assign contact = site.data[page.data].contact %}
{% else %}
  {% assign contact = site.data.default.contact %}
{% endif %}

<section id="contact" class="contact container content-section text-center">
  <div id="contact-content" class="row">
    <div class="col-md-10 col-md-offset-1">
      <h3>{{ contact.title }}</h3>
      <p>{{ contact.content }}</p>
    </div>
  </div>

  <div id="contact-blocks" class="row container-fluid">
      {% for block in contact.blocks %}
      {% assign column_width = 12 | divided_by: forloop.length %}
      <div class="col-md-{{ column_width }} col-sm-{{ column_width }} col-xs-6">
        <ul>
          <li>{{ block.title }}</li>
          {% for link_element in block.links %}
          <li><a href="{% if link_element.permlink != null %} {{ link_element.permlink }} {% else %} {{ link_element.link | prepend: site.baseurl }} {% endif %}" {% if link_element.permlink != null %}target="_blank"{% endif %}>{{ link_element.text }}</a></li>
          {% endfor %}
        </ul>
      </div>
      {% endfor %}
  </div>

  <div id="contact-links" class="row">
    <div class="col-md-10 col-md-offset-1">
      {% include social-buttons.html %}
    </div>
  </div>

</section>
