{% include _month date=site.time %}
<footer id="footer" class="footer">
    <div class="container text-center">
        <p>
        Ultima actualizare: {{ site.time | date: "%-d" }} {{ month }} {{ site.time | date: "%Y" }} <a itemprop="license" rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"title="Conținut licențiat sub termenii Attribution-NonCommercial-ShareAlike 4.0 International">CC</a><br />
        <a href="/{{ site.baseurl }}" title="Spre situl Web al titularului laboratorului Alexandru Coman">Alexandru Coman</a>
        </p>
    </div>
</footer>
