{% if site.data[page.page].base %}  {% assign data = site.data[page.page] %}
{% else %}                          {% assign data = site.data.default    %}
{% endif %}
{% if site.data.nav[page.nav] %}    {% assign nav = site.data.nav[page.nav] %}
{% else %}                          {% assign nav = site.data.nav.default   %}
{% endif %}
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
        <i class="fa fa-bars"></i>
      </button>
      {% if page.page-type == "index" %}
        <a class="navbar-brand page-scroll" href="#page-top">
      {% else %}
        <a class="navbar-brand" href="{{site.baseurl}}/">
      {% endif %}
          <div>{{ data.base.title }}</div>
        </a>
    </div>

    <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
      <ul class="nav navbar-nav">
        {% for link_element in nav %}
          <li><a {% if link_element.section != null %}class="page-scroll" href="#{{ link_element.section }}"{% elsif link_element.permlink %}href="{{ link_element.permlink }}"{% else %}href="{{ link_element.link | prepend: site.baseurl }}"{% endif %}>{{ link_element.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
