{% if page.navigation %}
  {% assign navigation =  site.data.navigation[page.navigation] %}
{% else %}
  {% assign navigation =  site.data.navigation.default %}
{% endif %}
<!-- Navigation Start -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
        <i class="fa fa-bars"></i>
      </button>
      {% if page.section-type == "index" and page.permalink == "/" %}
        <a class="navbar-brand page-scroll" href="#page-top">
      {% else %}
        <a class="navbar-brand" href="{{site.baseurl}}/">
      {% endif %}
          <div>{{ navigation.title }}</div>
          <a href="{{ site.baseurl }}/" id="logo-header" class="logo-header">
            <div class="logo"></div>
          </a>
        </a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
      <ul class="nav navbar-nav">
        {% for link_element in navigation.links %}
          <li><a {% if link_element.section != null %}class="page-scroll" href="#{{ link_element.section }}"{% else %}href="{{ link_element.link | prepend: site.baseurl}}"{% endif %}>{{ link_element.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
<!-- Navigation End -->