{% if site.data[page.page].base %}  {% assign data = site.data[page.page] %}
{% else %}                          {% assign data = site.data.default    %}
{% endif %}
{% capture month %}
    {% assign m = page.date | date: "%-m" %}
    {% case m %}
        {% when '1' %}ianuarie
        {% when '2' %}februarie
        {% when '3' %}martie
        {% when '4' %}aprilie
        {% when '5' %}mai
        {% when '6' %}iunie
        {% when '7' %}iulie
        {% when '8' %}august
        {% when '9' %}septembrie
        {% when '10' %}octombrie
        {% when '11' %}noiembrie
        {% when '12' %}decembrie
    {% endcase %}
{% endcapture %}

<section id="post" class="post container content-section text-center">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      {% include swipe-instructions.html %}
      <h1><strong>{{ page.title }}</strong></h1>
      <h4>
        {{ page.author }} -
        <small>
          {{ page.date | date: "%-d" }} {{ month }} {{ page.date | date: "%Y" }}
        </small>
      </h4>
      <h5>
          <small>categorii: [
            {% for category in page.categories %}
              <a href="{{ site.baseurl }}/resurse/{{ category }}">{{ category }}</a>
              {% unless forloop.last %} , {% endunless %}
            {% endfor %}
            ], taguri: [
            {% for tag in page.tags %}
              #{{ tag }}
              {% unless forloop.last %} , {% endunless %}
            {% endfor %}
            ]

            {% if site.disqus-shortname != "" %}
              <a href="{{ site.baseurl }}{{ page.url }}#disqus_thread">Comentarii</a></small>
            {% endif %}
          </small>
      </h5>

      <div id="post-content"s class="post-content text-justify">
        {% assign contains_summary = page.content | post_contains_summary %}
        {% if contains_summary == true %}
          <summary>{{ page.content | more: "summary" }}</summary>
        {% endif %}
        {{ page.content | more: "remaining" }}
      </div>

      {% include comments.html %}
      {% include social-buttons.html %}
    </div>
  </div>
</section>