{% if site.data[page.page].timeline %}
  {% assign timeline = site.data[page.page].timeline %}
{% else %}
  {% assign timeline = False %}
{% endif %}

<section id="timeline" class="container content-section text-center">
  {% if timeline %}
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h3>{{ timeline.title }}</h3>
      <ul class="timeline">
        {% for event in timeline.events %}
          {% assign loopindex = forloop.index | modulo: 2 %}
          <li{% if loopindex == 0 %} class="timeline-inverted" {% endif %}>
            <div class="timeline-image">
              {% if event.link != "" %}<a href="{{ event.link }}">{% endif %}
              <img class="img-circle img-responsive" src="{{site.baseurl}}{{ event.image }}" alt="">
              {% if event.link != "" %}</a>{% endif %}
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                {% if event.link != "" %}<a href="{{ event.link }}">{% endif %}
                <hgroup>
                  <h5>{{ event.date }}</h5>
                  <h4>{{ event.title }}</h4>
                </hgroup>
                {% if event.link != "" %}</a>{% endif %}
              </div>
              {% if event.description %}
              <div class="timeline-body text-justify">
                {{ event.description }}
              </div>
              {% endif %}
            </div>
          </li>

        {% endfor %}
        <li class="timeline-inverted">
          <div class="timeline-image">
            <img class="img-circle img-responsive" src="{{site.baseurl}}/img/timeline/default.png" alt="">
          </div>
        </li>
      </ul>
    </div>
  </div>
  {% else %}
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h3>Momentan nu este nici un eveniment</h3>
      </div>
    </div>
  {% endif %}
</section>
<!-- Timeline End -->
