.apply-now {

}

.mc-field-group {
    padding-right: 3px;
    @media (max-width: 767px) {
        padding: 0;
    }
}
.mc-submit-group {
    padding-left: 3px;
    @media (max-width: 767px) {
        padding: 0;
    }
}
.apply-info {
    font-weight: $light;
}
