// Variables
$primary: #1a7bd3;
$primary-hover: #3266d5;
$dark: #0b141f;
$light: #fff;

$regular: 300;
$bold: 500;

$navbar-text-shadow: true;
$header-text-shadow: true;
$header-background-color: $dark;
$intro-text-color: $light;
$navbar-color: $light;
$navbar-lg-collapse-background-color: $header-background-color;
$navbar-lg-background: transparent;
$navbar-sm-background-color: $navbar-lg-collapse-background-color;

$social-buttons-color: $primary;

$base-transition: all .3s;
$base-cubic-transition: all .3s cubic-bezier(0.175, 0.885, 0.320, 1.275);
$long-transition: all .5s;
$long-cubic-transition: all .5s cubic-bezier(0.175, 0.885, 0.320, 1.275);
