.post-content {
    ul,
    ol {
        text-align: left !important;
        list-style-position: inside;
    }

    .presentation {
        text-align: center;
    }

    .frame {
        border:1px solid #CCC;
        max-width: 100%;
        width: 595px;
        height: 485px;
        overflow: hidden;
    }
}
