.team {
  margin-top: 100px;
  padding-top: 100px;
  
  @media(min-width:767px) {
      margin-top: 125px;
      padding-top: 125px;
  }

  h3 {
    margin-bottom: 26px;
  }

  h4 {
    margin: 20px 0 5px;   
    text-align: center;
  }

}
