$border-color: rgba(51, 51, 51, .6);

.teams {

    .team-text {
        margin: 0;
        font-weight: $light;
        line-height: 39px;
    }

    .project_class {
        @extend .team-text;
        @media (max-width: 767px) {
            margin-top: 15px;
        }
    }

    .title {
        @extend .team-text;
        text-align: left;
        @media (max-width: 767px) {
            padding: 0;
            text-align: center;
        }
    }

    .member{
        margin-top: 3px;
        display: block;
        font-size: 12px;
        line-height: 13px;
        @media (max-width: 767px) {
            font-size: 13px;
            line-height: 14px;
        }
    }

    .leader{
        @extend .member;
        font-weight: bold;
    }

    .repository {
        text-align: center;
        padding: .2em .25em .15em;
        border: solid .08em $border-color;
        border-radius: .1em;

        @media (max-width: 767px) {
            margin-top: 20px;
            width: 100%;
        }
        a {
            @media (max-width: 767px) {
                width: 100%;
                font-size: 20px;
            }
        }
    }
}

.teams-table {
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 0 15px;
    border: 1px solid $border-color;
    max-width: 850px;
}

.teams-row {
    padding: 20px 0;
    border-bottom: 1px dashed $border-color;
    &:last-child {
        border: none;
    }
}