.about {
    ol {
        padding: 0;
    }
    li {
        list-style-type: upper-roman;
        text-align:left;
        text-indent: 1em;
        padding-left: 1em;
        margin:0;
        padding:0;
    }
}
