---
layout: compress
---
{% include _setup_categories %}
{% assign contains_summary = page.content | post_contains_summary %}
 
<!DOCTYPE html>
<html lang="{{ site.lang }}">

  {% include head.html %}
  
  <body id="page-top">
    <section id="post" class="post container content-section">
      <div class="row">
        <header id="post-header" class="text-center">
          <h1>{{ page.title }}</h1>
        </header>

        <div class="terminal col-md-8 col-md-offset-2">
          <p class="m-b-md">
            <span class="text-muted">~ $ cd {{ resource_path | join: '/' }}</span><br>
            <span class="text-muted">~ $ cat {{ page.title | handleize }}</span>
          </p>
        </div>

        <article class="col-md-8 col-md-offset-2">
          <div id="post-content" class="post-content text-justify">
            {{ page.content }}
          </div>

          <footer>
            {% include comments.html %}
            {% include social-buttons.html %}
          </footer>
        </article>
      </div>
    </section>

    {% include footer.html %}

    {% include js.html %}

  </body>
</html>
